body {
    width: 100%;
}
#mainsearch {
    display: block;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    
}
#search {

}
#searchbar {
    border-radius: 5px;
    padding: 5px;
    width: 400px;
    margin-bottom: 20px;
}